@charset "UTF-8";
@import "reset.css";
     header{
            background-color: rgb(171, 233, 233);
        }
        .menu{
            display: flex;
            justify-content: space-around;
        }
        section section section{
            display: inline-block;
            width: 200px;
            min-height: 300px;
            background-color: rgb(148, 210, 212);
        }
        .menu ul li{
            display: inline-block;
            padding: 10px;
            border: 1px solid white;
        }